[submodule "app/libopencm3"]
	path = app/libopencm3
	url = https://github.com/libopencm3/libopencm3.git
[submodule "libopencm3"]
	path = libopencm3
	url = https://github.com/libopencm3/libopencm3.git
